{
    "extends": [
      "airbnb"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
      "sourceType": "module",
      "allowImportExportEverywhere": false,
      "codeFrame": false
    },
    "env": {
      "browser": true,
      "jest": true
    },
    "rules": {
      "arrow-body-style": ["error", "as-needed"],
      "import/prefer-default-export": 0,
      "jsx-a11y/href-no-hash": 0,
      "jsx-a11y/label-has-associated-control": 0,
      "jsx-a11y/label-has-for": [ "error", {
        "required": {
          "some": [ "nesting", "id"  ]
        }
      }],
      "jsx-a11y/anchor-is-valid": [ "error", {
        "components": [ "Link" ],
        "specialLink": [ "to" ],
        "aspects": ["noHref", "invalidHref", "preferButton"]
      }],
      "arrow-parens": 0,
      "comma-dangle": ["error", "never"],
      "no-param-reassign": ["error", { "props": false }],
      "no-underscore-dangle": ["error", { "allow": ["_id", "__REDUX_DEVTOOLS_EXTENSION__"] }],
      "max-len": 0,
      "unused": false,
      "no-console": "off",
      "no-alert": "off",
      "no-invalid-this": 2,
      "no-use-before-define": ["error", { "functions": false, "classes": true }],
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "react/jsx-no-bind": 0,
      "linebreak-style": 0,
      "react/destructuring-assignment": ["enabled", "always"],
      "implicit-arrow-linebreak": ["error", "beside"],
      "react/button-has-type": 0,
      "react/no-unescaped-entities": 0,
      "react/prefer-stateless-function": 0,
      "react/jsx-one-expression-per-line": 0
    }
  }